<!--This page allows user to view the list of MoreDetail objects-->
@model IEnumerable<NETD3202_Lab5_V3.Models.MoreDetail>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "List";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>More Details List</h1>
    <p>
        <a style="color: black" asp-action="Create">Add New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Game ID
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.gameID.gameID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.gID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.gID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.gID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="lead">
        <a asp-controller="VideoGames" asp-action="Index" class="btn btn-lg btn-secondary">Video Game List</a>
    </p>
}
else
{
    <h1>More Details List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Game ID
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.gameID.gameID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="lead">
        <a asp-controller="VideoGames" asp-action="Index" class="btn btn-lg btn-secondary">Video Game List</a>
    </p>
}